.jumbotron {
  background-color: blue !important;
  text-align: center;
}
#currentDay {
  text-align: right;
  font-size: 10px;
  font-family: "Press Start 2P", cursive;
}

.display-4 {
  font-family: "Special Elite", cursive;
  font-size: 8vw !important;
}

#container,
#lastCities {
  margin-left: 3vw;
}

#lastCities {
  margin-top: 1.5vw;
  width: 40vw;
  height: 40vw;
  font-size: 1.5vw;
}

h5,
p {
  text-align: center;
}

#weatherBox {
  margin-left: -23vw;
}

#forecast {
  margin-top: 3vw;
  margin-left: -21vw;
}
.card {
  background-color: lightblue !important;
  font-weight: bold;
}

.mb-3 {
  width: 52vw;
  height: 25vw;
  background-color: cornflowerblue !important;
}

h4 {
  font-size: 3vw;
  text-align: center;
}
.card-title,
.card-text {
  font-size: 1.5vw;
  text-align: center;
}

.card-img {
  opacity: 50%;
}


@media screen and (max-width: 989px)

    .media{
        width: 100%;
        height: 100%;
        margin-left: -20px;
    }
    .media-body{
        width: 100%;
        margin-left: -10px;
    }

    h2{
        text-align: center;
    }

    p{
        text-align: justify;
        font-size: 20px;
        margin-left: 5px;
        text-indent: 20px;
    }
 }